.input {
    border: none;
    outline: none;

    background-color: var(--color-bg);
    color: var(--color-text-secondary);
    padding: 8px 12px;
    border-radius: 8px;
}

.input:focus {
    outline: none;
}
