:root {
  --color-primary: #2563eb;
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-text-secondary: #000000;
}

[data-theme="dark"] {
  --color-primary: #3b82f6;
  --color-bg: #18181b;
  --color-text: #ffffff;
  --color-text-secondary: #c2c2c2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--color-text);
}
